.links-body {
   padding: 50px 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}


.links-title {
   font-family: 'Caveat';
   font-size: 25px;
}

.links-list {
   list-style: none;
   display: flex;
   align-items: center;


   &__item {
      
      &_link {
         height: 100%;
      }
      &_img {
         width: 100px;
         transition: all 0.5s ease-out;
         &:hover {
            padding-left: 10px;
            box-shadow: 2px 3px  rgba(0, 0, 0, 0.4);
         }
      }
   }
}