.footer {
   width: 100%;
   height: 190px;
   background: url('../../assets/img/wp.jpg') 50%/cover no-repeat;
   box-shadow: 0px 2px 10px black;
   
   &__body {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      &_item {
         flex: 1 1;
         margin: 0 auto;
      }
   }
}

.footer-logo {
   display: flex;
   align-items: center;
   justify-content: center;
   &__img {
      width: 250px;
   }
}

.footer-info {
   font-family: 'Amatic';
   &__text {
      color: black;
   }
}

.footer-links {

   &__body {}
}

.footer-links-list {
   list-style: none;
   display: flex;
   justify-content: center;
   

   &__item {
      &_link {
         height: 100%;
      }
      &_img  {
         width: 40px;
         margin-left: 20px;
      }
   }
}