// Documents

   .documents {
      padding: 0 0 40px 0;
      position: relative;
         &::after {
         content: ' ';
         position: absolute;
         bottom: 0;
         left: 0;
         border-bottom: 1px solid black;
         width: 100%;
   }
   }

   .documents-header {
      position: relative;
      text-align: center;
      &:after {
         content: ' ';
         position: absolute;
         left: 40%;
         bottom: -10px;
         border-bottom: 2px solid darkgoldenrod;
         width: 200px;
      }
   }

   .documents-header-info-list {
      list-style: none;
      font-family: 'Caveat';
      font-size: 20px;
      
      &__text {
         padding-bottom: 20px;
         &_link {
            text-decoration: none;
            color: darkgoldenrod;
         }
      }
   }


// Documents Main

.documents-main {
   margin: 80px 0 40px 0;
   &__body {
    max-width: 1000px;
    margin: 0  auto;
   }
}

.documents-list {
   list-style: none;
   font-family: 'Amatic';
   &__item {
      display: block;
     
      
      &_text {
         display: block;
         font-size: 50px;
      }
   }

}

.dropDocList {
   &__body {
      border: 1px solid black;
      border-top: 0;
      text-align: center;
      padding: 20px;
   }
}

.documents-list-block {
   padding: 20px;
   margin-top: 5px;
   text-align: center;
   cursor: pointer;
   border: 1px solid black;
   font-size: 30px;
   transition: all 0.1s ease-in;
   &:hover {
      box-shadow: inset 0px 0px 8px black;
   } 
}

.documents-item-list {
   list-style: none;
   font-family: 'Amatic';
   font-size: 30px;
   
   &__item {
      &_link {
         text-decoration: none;
      }
      &_text {
         color: darkgoldenrod;
         font-size: 20px;
         transition: all 0.1s ease-in;
         &:hover {
            color: darkred;
            font-size: 23px;
         }
      }
   }
}
   